@tailwind base;
@tailwind components;
@tailwind utilities;



/* Optional: Smooth scrolling for the whole app */
html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevent body scroll, let the viewer handle it */
}

